<footer class="footer">
  <small>
    <a>Space App by Michiya Morisaki</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://www.spacemarket.com/">SPACE MARKET</a></li>
    </ul>
  </nav>
</footer>